.slider-movies {
  height: calc(100vh - 64px);

  &__movie {
    height: calc(100vh - 64px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;

    &-info {
      display: flex;
      align-items: flex-end;
      height: 100%;
      padding-bottom: 100px;

      > div {
        background-color: #a7a7a7cf;
        padding: 20px;
        margin: 0 auto;
        text-align: center;
        width: 50%;
        @media (max-width: 480px) {
          width: 80%;
        }
      }
    }
  }
}
